/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--main-text-weight);
  background-image: var(--background-gradient);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-block-width {
  max-width: var(--main-block-width);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 100px 0;
  background-color: rgb(255,255,255);
  padding: clamp(122px, 122px + (130 - 122) * ((100vw - 375px) / (1440 - 375)), 130px) 0;
  border: solid 2px rgb(0,0,0);
  width: 100%;
}

.header__logo, .header__title {
  font-family: var(--accent-font);
  font-weight:  var(--header-weight);
}

.header__logo {
  font-size: clamp(49px, 49px + (65 - 49) * ((100vw - 375px) / (1440 - 375)), 65px);
  text-transform: uppercase;
}

.header__title {
  font-size:clamp(14px, 14px + (23 - 14) * ((100vw - 375px) / (1440 - 375)), 23px);;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.watermark {
  z-index: 1;
  position: absolute;
  right: 25px;
  top: 25px;
  font-family: var(--accent-font);
  font-weight: var(--header-weight);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-size: 14px;
  letter-spacing: 0;
  text-shadow:
  -1px 0 rgb(255,255,255), 
  0 1px rgb(255,255,255), 
  1px 0 rgb(255,255,255), 
  0 -1px rgb(255,255,255);
}

@supports((text-stroke: 1px rgb(255,255,255)) or (-webkit-text-stroke: 1px rgb(255,255,255))) {
  .watermark {
    -webkit-text-stroke: 2px rgb(255,255,255);
    text-stroke: 2px rgb(255,255,255);
    paint-order: stroke fill;
    text-shadow: none;
  }
} 


.card__title {
  border: solid 2px rgb(0,0,0);
  padding: 4px 10px;
  font-family: var(--main-font);
  font-weight: var(--block-header-weight);
  line-height: 100%;
  font-size: 18px;
  background-color: rgb(255,255,255);
}

.card__block-image {
  position: relative;
  border-right: solid 2px rgb(0,0,0);
  border-left: solid 2px rgb(0,0,0);
  overflow: hidden;
}

.card__image {
  z-index: 0;
  display: block;
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.card__content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: rgb(255,255,255);
  border: solid 2px rgb(0,0,0);
}

.card__content-text {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 21px;
  font-weight: var(--main-text-weight);
}

.card__icon-button {
  align-self: end;
}

.card__like-button {
  display: flex;
  gap: 12px;
  align-items: center;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0;
  font-weight: var(--header-weight);
}

.card__like-button .button__text {
  padding: 12.5px 37px;
  border: solid 2px rgb(0,0,0);
}

.save-button {
  display: flex;
  align-self: center;
  align-items: center;
  gap: 8px;
  background-color: rgb(255,255,255);
  border: solid 2px rgb(0,0,0);
  padding: 0 20px;
  block-size: 55px;
  margin-block-end: 100px;
}

.filter-old-photo{
  filter: sepia(0.6) brightness(0.9) contrast(1.1);
}
.filter-dreamy{
  filter: blur(2px) brightness(1.1) saturate(1.2);
}
.filter-hue-rotate{
  filter: hue-rotate(90deg);
}
.filter-contrast{
  filter: contrast(1.9);
}
.filter-inver{
  filter: invert(1);
}
.fillter-blur{
  filter: blur(20px);
}
.filter-warm{
  filter: hue-rotate(-15deg) saturate(1.1);
}

.floppy-icon {
  width: 21px;
  height: 21px;
}

dialog {
  position: fixed;
  inset: 0;
  display: flex;
  border: solid 2px rgb(0,0,0);
  flex-direction: column;
  gap: 30px;
  padding-inline: 40px;
  padding-block: 30px;
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.dialog__content {
  align-items: center;
  display: flex;
  gap: 20px;
}

.dialog__content-text {
  font-family: var(--accent-font);
  font-weight: var(--header-weight);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  max-inline-size: 234px;
  width: 100%;
}

.close-button {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  text-transform: uppercase;
  font-weight: var(--header-weight);
  border: solid 2px rgb(0,0,0);
  padding-block: 12.5px;
}

@media (width <= 375px) {
  
  .floppy-icon {
  width: 28px;
  height: 28px;
}

.save-button {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  padding: 17px 20px;
  block-size: 84px;
  margin-block-end: 100px;
}

dialog {
  padding-inline: 30px;
}

}