/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', monospace;
  --main-text-weight: 410;
  --header-weight: 400;
  --block-header-weight: 715;
  --accent-color: rgb(0,0,0);
  --text-color: rgb(255,255,255);
  --bg-text-color: rgb(255,255,255); 

  --background-gradient: repeating-linear-gradient(90deg, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
  repeating-linear-gradient(0deg, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
  linear-gradient(180deg, #e7e7e7 0%, #1a1a1a 100%);

  --main-block-width: clamp(375px, 375px + 30.5vw, 700px);

  --contour-color: rgb(0,0,0);
  /* --main-body-color: transparent;
  --core-color: transparent; */
}